*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    opacity: 50%;
    background: linear-gradient(to right, #8704bb, #69b6f5);
}

.btn{
    padding: 0.5rem 2rem;
    border: 1px rgb(0, 0, 0) solid;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    background-color: rgb(56, 121, 243);
    color: black;
    transition: background 500ms ease;
}

.btn:hover{
    background: #a9e9e0;
    border: white;
    color: rgb(0, 0, 0);
}

.logo{
    flex-basis: 20%;

}

.logo img{
    width: 150px;
    height: 80px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: rgb(156, 53, 252);
    font-size: larger;
    text-decoration: none;
}

.oculus{
    border-radius: 40%;
    height: 275px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}

.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.feature{
    position: absolute;
    display: flex;
    opacity: 100%;
    color: rgb(0, 0, 0);
}

.one{
    top: 450px;
    right: 50px;

}

.two{
    top: 150px;
    left: 350px;
}

.three{
    bottom: 450px;
    left: 50px;
}

.four{
    bottom: 150px;
    right: 350px;
}



#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 30%;
    background: #8704bb;
}


nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

